jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "{{ jenkins_admin_password  }}"
        - id: "dev"
          password: "{{ jenkins_dev_password }}"
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Job/Build:dev"
        - "Job/Cancel:dev"
        - "Job/Read:dev"
        - "Job/Workspace:dev"
        - "Overall/Administer:admin"
        - "Overall/Read:authenticated"
        - "Run/Replay:dev"
        - "Run/Update:dev"
  
  clouds:
    - docker:
        name: "docker"
        dockerApi:
          dockerHost:
            uri: "unix:///var/run/docker.sock"
        templates:
          - labelString: "docker-agent"
            dockerTemplateBase:
              image: "jenkins/slave"
              volumes:
                - /var/run/docker.sock:/var/run/docker.sock
            remoteFs: "/home/jenkins/agent"
            connector:
              attach:
                user: "jenkins"
            instanceCapStr: "10"
            retentionStrategy:
              idleMinutes: 1


  numExecutors: 1

jobs:
  - file: /usr/local/seedjob.groovy

credentials:
  system:
    domainCredentials:
      - domain :
        credentials:
          - usernamePassword:
              scope: GLOBAL
              id: github-account
              username: {{ github_username  }}
              password: {{ github_password  }}
          - usernamePassword:
              scope: GLOBAL
              id: dockerhub-account
              username: {{ dockerhub_username  }}
              password: {{ dockerhub_password  }}


