jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "{{ jenkins_admin_password  }}"
        - id: "dev"
          password: "{{ jenkins_dev_passwrod }}"
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Job/Build:dev"
        - "Job/Cancel:dev"
        - "Job/Read:dev"
        - "Job/Workspace:dev"
        - "Overall/Administer:admin"
        - "Overall/Read:authenticated"
        - "Run/Replay:dev"
        - "Run/Update:dev"

  numExecutors: 1

jobs:
  - file: /usr/local/seedjob.groovy

credentials:
  system:
    domainCredentials:
      - domain :
        credentials:
          - usernamePassword:
              scope: SYSTEM
              id: github-account
              username: {{ github_username  }}
              password: {{ github_password  }}
        credentials:
          - usernamePassword:
              scope: SYSTEM
              id: dockerhub-account
              username: {{ dockerhub_username  }}
              password: {{ dockerhub_password  }}


tool:
  git:
    installations:
      - name: git
        home: /usr/local/bin/git

